@model IEnumerable<TraineesITI.Areas.TraineeCourses.Models.TraineeCourse>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-action="Details" asp-controller="Trainee"
   asp-route-id="@ViewBag.Trainee.Id">
    <h3>@ViewBag.Trainee.Name</h3>
</a>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-controller="Courses"
                asp-route-id="@item.CourseId">
                    @Html.DisplayFor(modelItem => item.Course.Topic)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
