@page "/tracks/new"

<h3>Create Track</h3>

@if (Saved)
{
    <div class="alert alert-success">
        Track saved successfully.
    </div>
}
else
{
    <EditForm Model="@Track" OnValidSubmit="@CreateTrack">

        <DataAnnotationsValidator></DataAnnotationsValidator>

        <ValidationSummary></ValidationSummary>

        <div class="form-group row">
            <label for="Name" class="col-form-label">Name</label>
            <InputText id="Name" class="form-control" @bind-Value="@Track.Name" placeholder="Track Name"></InputText>
            <ValidationMessage For="@(() => Track.Name)" />
        </div>

        <div class="form-group row">
            <label for="Description" class="col-form-label">Description</label>
            <InputText id="Description" class="form-control" @bind-Value="@Track.Description" placeholder="Track Description"></InputText>
            <ValidationMessage For="@(() => Track.Description)" />
        </div>

        <button type="submit" class="btn btn-info">Save track</button>

    </EditForm>
}

<a class="btn btn-primary" href="tracks">Back to list</a>